*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
}
.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
.gridcontainer div{
    border: 2px solid black;
    background: #9898e6;
    text-align: center;
    padding: 2ps;
}
.grid-index{
    grid-row-start: 1;
    grid-row-end: 5;
}